description = "Builder for the GCF Go 1.16 runtime"

[[buildpacks]]
  id = "google.go.build"
  uri = "build.tgz"

[[buildpacks]]
  id = "google.go.functions-framework"
  uri = "functions_framework.tgz"

[[buildpacks]]
  id = "google.utils.archive-source"
  uri = "archive_source.tgz"

[[buildpacks]]
  id = "google.utils.label"
  uri = "label.tgz"

[[order]]

  [[order.group]]
    id = "google.utils.archive-source"

  [[order.group]]
    id = "google.go.functions-framework"

  [[order.group]]
    id = "google.go.build"

  [[order.group]]
    id = "google.utils.label"

[stack]
  id = "google.go116"
  build-image = "gcr.io/gae-runtimes/buildpacks/go116/build"
  run-image = "gcr.io/gae-runtimes/buildpacks/go116/run"

[lifecycle]
  version = "0.15.1"
